.form-outline i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.card {
  &:hover {
    transform: scale(1.01);
  }
}

img {
  border-radius: 50%;
  &:hover {
    transform: scale(1.05);
  }
}

.text-field {
  i{
    position: absolute;
    transform: translateX(50%) translateY(125%);
  }

  input{
    padding-left: 30px;
  }
}

.container {
  box-shadow: 1px 1px 4px 4px #640303;
}
